/*style for dataWow iFrame ui*/

.embed-container{
  position: relative;
  overflow: hidden;
  width: 99%;
  height: 98vh;
}

.embed-container iframe{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}

#dataWow{
  position: relative;
  height: 100;
  width: 100;
}
